<%- include('../layout/adminHeader') %>
  <%- include('../partials/adminNavBar')%>

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #c1c1c1;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, #415a70, rgb(150, 143, 179));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, #415a70, rgba(150, 143, 179))
    }

    .col-6 {
        max-width: none;
    }
</style>
    <!-- Add this div to your HTML code -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <script>
      setTimeout(() => {
    document.getElementById('loader-wrapper').style.display='none'
  }, 800);
</script>

<section class="vh-100 py-3" style="background-color: #f4f5f7;">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-lg-12 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="/images/logo3.jpg"
                alt="Avatar" class="img-fluid my-5 mt-5" style="width: 125px;" />
              <h5><%= data.userName %></h5>
              <p>Order Details</p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h3 style="font-weight: bolder;">Order Details</h3>
                <hr class="mt-0 mb-4">
                <div class="row d-block">
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Date</h6>
                    <p class="text-dark ml-auto"><%= data.date.toLocaleDateString('en-GB') %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Order Id</h6>
                    <p class="text-dark"><%= data._id %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">User Id</h6>
                    <p class="text-dark"><%= data.userId %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Name</h6>
                    <p class="text-dark"><%= data.userName%></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Address</h6>
                    <p class="text-dark"><%= data.shippingAddress.address %>, <%= data.shippingAddress.zipcode %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Phone</h6>
                    <p class="text-dark"><%= data.shippingAddress.mobile %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Status</h6>
                    <p class="text-dark"><%= data.status %></p>
                  </div>
                  <% if(locals.data.reason) {%>
                   <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Reason</h6>
                    <p class="text-dark"><%= data.reason%></p>
                  </div> 
                  <% } %>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder; ">PRODUCTS :</h6>
                    <% data.item.forEach(function(item,index) {%>
                        <p class="text-dark" style="font-weight: lighter;"><span style="color: black;font-weight: normal;"><%= index %>.</span> <%= item.product.name %></p>
                        <p class="text-dark" style="font-weight: lighter;"><span style="color: black;font-weight: normal;">Quantity :</span> <%= item.quantity %></p>
                        <!-- {{!-- <p class="text-dark">{{}}</p> -->
                        <!-- <p class="text-dark">{{order.status}}</p> --}} -->
                    <% }) %>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="font-weight: bolder;">Total Price</h6>
                    <p class="text-dark">Rs. <%= data.total %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../layout/adminFooter') %>
